html {
    background-color: black;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    color: white;
}

#content img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 25%;
    height: 25%;
}

